<h2 class ="subtitle is-2">List of pokemon nest</h2>
<%if @nests.empty?%>
  <p>There are no monsters for the request.</p>
<%else%>
    <div class="columns">
        <%@nests.each do |nest|%>
          <div class="column">
            <div class="box">
              <h3><%=link_to nest.historicalName, nest%></h3>
            </div>
        </div>
        <% end %>
      </div>
<%end%>