<h2 class ="subtitle is-2">List of request</h2>
<% if @requests.empty?%>
  <p>There are no requests available.</p>
<%else%>
  <%@requests.each do |request|%>
    <h2><%= link_to request.serviceRequest, request %></h2>
    <h4>Department :<%= request.serviceArea%></h4>
    <h4><%= request.date %></h4>
  <% end %>
<%end%>