<h2 class ="subtitle is-2">List of pokemon</h2>
<% if @pokemons.empty?%>
  <p>There are no requests available.</p>
<%else%>
  <div class="columns">
    <%@pokemons.each do |pokemon|%>
    <div class="column">
      <div class="box">
        <h2><%= link_to pokemon.name, pokemon %></h2>
        <img src=<%=pokemon.imageLink%> style="width:60px;height:60px;">
      </div>
    </div>
    <% end %>
  </div>
<%end%>