<h2 class ="subtitle is-2">List of pokemon</h2>
<% if @pokemons.empty?%>
  <p>There are no requests available.</p>
<%else%>
  <%@pokemons.each do |pokemon|%>
    <h2><%= link_to pokemon.name, pokemon %></h2>
  <% end %>
<%end%>